Repository peaceiris/actions-gh-pages, pull requests merged in 2021-01, with the labels that each got.

#556 docs: bump mdbook from 0.3.7 to 0.4.5
  .github/workflows/test.yml
  README.md
Labels: CI/CD, documentation

#558 deps: update devDependencies
  __tests__/get-inputs.test.ts
  package-lock.json
  package.json
Labels: dependencies

#560 deps: bump node from 12.20.0 to 12.20.1
  .nvmrc
Labels: dependencies

#562 ci: Exclude writing actions on forks
  .github/workflows/dev-image.yml
  .github/workflows/test.yml
Labels: CI/CD
