Repository peaceiris/actions-gh-pages, pull requests merged in 2022-02, with the labels that each got.

#706 Remove step to upgrade npm
  .github/workflows/test.yml
Labels: CI/CD

#708 Update README.md
  README.md
Labels: documentation

#709 Node v12.22.10
  .nvmrc
  package-lock.json
Labels: dependencies
